@font-face {
    font-family: "Lato";
    src: url("/imagens/fonts/Lato-Regular.ttf");
}

body {
    min-height: 850px;
    background-image: url('imagens/desenho-2.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    position: relative;
    box-sizing: border-box;
}

* {
    font-family: "Lato";
}

.logo {
    width: 70px
}

.header_icon {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}

.container {
    max-width: 100%;
}

.header_logo {
    margin-left: 20px;
}

.header_buttons {
    margin-left: auto;
}

.middle-row3 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.middle-row3 * {
    margin: auto;
}

.main .card_box2 {
    width: 400px;
    border-radius: 10px;
    background: transparent linear-gradient( 90deg, #37464dc4 100%, #9490907e 100%) 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 100px 5px #3287a8
}

.card_box2 * {
    text-align: center;
    margin: 0;
}

.main .card2 {
    background-color: transparent;
}

.card-body2 {
    padding: 10px;
    margin: 10px;
}

.card-body2 h2, h3 {
    color: #ffffff;
    margin: 10px;
    font: normal normal bold 23px "Lato";
    letter-spacing: 1.5px;
}

.card-body2 span {
    font: normal normal bold 40px/24px "Lato";
    color: #b7d7f1;
}

.dash_icon {
    width: 50px;
    padding: 5px;
}

.add-question-img {
    width: 20%;
}

input[type="radio"] {
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

/*outro css*/

/*Login*/

.white_box {
    margin: 10px auto;
    padding: 30px 50px;
    box-shadow: 5px 0px 20px #00000029;
    background: transparent linear-gradient(90deg, #ffffffb9 0%, #ffffff7e 100%) 0% 0% no-repeat padding-box;
    width: 750px;
}

.logo_small {
    margin: 20px;
    max-height: 85px;
}

.title_next_appt {
    color: black;
}

.main-col {
    box-sizing: border-box;
    margin: auto;
    width: 350px;
}

.login-form {
    box-sizing: border-box;
    width: 100%;
}

.input-row {
    box-sizing: border-box;
    position: relative;
    margin: 25px auto;
    width: 100%;
}

.form-control {
    text-align: left;
    font: normal normal bold 15px/18px Lato;
    color: #707070;
}

.form-input {
    position: relative;
    box-sizing: border-box;
    padding: 12.5px 25px;
    text-align: left;
    font: normal normal bold 15px/18px Lato;
    color: #707070;
    height: 50px;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 6px;
}

.big-form-input {
    position: relative;
    box-sizing: border-box;
    padding: 12.5px 25px;
    text-align: left;
    font: normal normal bold 15px/18px Lato;
    color: #707070;
    height: 80%;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 6px;
}

option {
    font: normal normal bold 15px/18px Lato;
}

.login-a {
    display: inline-block;
    margin: 10px auto;
    font: normal normal bold 15px/18px Lato;
    color: #707070;
}

/*registo*/

.registo {
    margin: auto;
}

.nota {
    font-size: 14px;
}

.registry-form .row {
    box-sizing: border-box;
    padding: 10px auto;
}

/*Perfil*/

.perfil-main-col {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
}

.perfil-row {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.cell-row {
    position: relative;
    box-sizing: border-box;
    width: 45%;
    margin: 12.5px auto;
    font: normal normal normal 15px/18px "Lato";
}

.cell-align-center {
    margin: auto;
}

.cell-morada {
    width: 95%;
}

/* Recover Password */

.input1 {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: #60C676;
}

.pass1 {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: #31ade0;
}

/*Buttons*/

.btn-green {
    position: relative;
    box-sizing: border-box;
    background-color: #60C676;
    color: white;
    padding: 15px;
    text-align: center;
    font: normal normal bold 15px/18px "Lato";
    letter-spacing: 0.61px;
    width: 100%;
    border: transparent;
    border-radius: 6px;
}

button:focus {
    outline: none;
}

.btn-green:hover {
    color: white;
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

select option:disabled {
    color: lightgrey;
}

.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

/*game*/

.game-box {
    width: 1000px;
}

.status-bar {
    margin: 0px;
    text-align: center;
}

.nav-right {
    margin-left: 230px
}

.btn-w20 {
    width: 20%;
    margin: 10px;
}

.btn-w100 {
    min-width: 400px;
}

.text-center {
    display: block;
    margin: auto;
}

.cell-back, .btn-back {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-top: 10px;
}

.img-fill-form {
    margin: 20px;
    max-height: 120px;
}

.title_next_appt {
    margin: auto;
    margin-left: 0;
}

.percentage {
    margin-left: 0px;
    color: rgb(38, 120, 243);
    text-align: center;
    font-weight: bold;
}

.percentage:hover {
    color: rgb(38, 120, 243);
    cursor:default;
    background-color: transparent;
}

.first-col {
    width: 400px;
    padding: 0;
    margin-left: 120px;
}

.second-col {
    width: 50px;
    padding-left: 5px;
}

