body {
    background-image: url('imagens/desenho-2.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    opacity: 0.9;
}

.logo {
    width: 70px
}

.header_icon {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}

.container {
    max-width: 100%;
}

.header_logo {
    margin-left: 20px;
}

.header_buttons {
    margin-left: auto;
}

.middle-row3 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.middle-row3 * {
    margin: auto;
}

.main .card_box2 {
    width: 400px;
    border-radius: 10px;
    background: transparent linear-gradient( 90deg, #37464dc4 100%, #9490907e 100%) 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 100px 5px #3287a8
}

.card_box2 * {
    text-align: center;
    margin: 0;
}

.main .card2 {
    background-color: transparent;
}

.card-body2 {
    padding: 10px;
    margin: 10px;
}

.card-body2 h2, h3 {
    color: #ffffff;
    margin: 10px;
    font: normal normal bold 23px "Lato";
    letter-spacing: 1.5px;
}

.card-body2 span {
    font: normal normal bold 40px/24px "Lato";
    color: #b7d7f1;
}

.dash_icon {
    width: 50px;
    padding: 5px;
}

.add-question-img {
    width: 20%;
}

input[type="radio"] {
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}